  <% Ingredient.all.each_with_index do |ingredient,index| %>
      <% if @recipe.ingredients.exclude?(ingredient) %>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="col-md-3">
                <%= label_tag "ingredient_#{ingredient.id}", ingredient.name %>
              </div>
              <div class="col-md-1">
                <%= check_box_tag "recipe[recipe_ingredients_attributes][#{index}][id]", ingredient.id, false, id: "ingredient_#{ingredient.id}" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-8">
                <%= label_tag "ingredient_#{ingredient.id}_quantity", "Quantity" %>
                <%= text_field_tag "recipe[recipe_ingredients_attributes][#{index}][quantity]", " ", id: "recipe_ingredient_quantity_#{ingredient.id}"%><br>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
