<div class="panel panel-warning">
  <div class="panel-heading"><h1>Edit Recipe</h1><p>
    <%= link_to "", root_path, class: "glyphicon glyphicon-home btn btn-success" %>
    <%= link_to "", @recipe, method: :delete, data: {confirm: "You sure?"}, class: "glyphicon glyphicon-remove btn btn-danger" %>
  </p></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
