
  <h1>Edit Recipe</h1>
    <%= render 'form' %>
    <p>
      Don't see an ingredient -
        <%= link_to 'Add New Ingredient', new_recipe_ingredient_path(@recipe.id) %>

<%= link_to "", root_path, class: "glyphicon glyphicon-home btn btn-large btn-success" %>
    </p>
