<h1>All Ingredients</h1>
<div class="row white-well">
  <div class="list-group">
      <% @ingredients.each do |ingredient| %>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-10">
            <a href='<%= "#{edit_ingredient_path(ingredient)}" %>' class="list-group-item">
              <%= ingredient.name %>
            </a>
          </div>
          <div class="col-md-2">
            <%= link_to "", ingredient, method: :delete, data: {confirm: "You sure?"}, class: "glyphicon glyphicon-remove btn btn-danger" %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <%= link_to 'Add New Ingredient', new_ingredient_path, class: "btn btn-primary" %>
</div>
